.wrapper

  = render 'groups/side_bar'

  .chat-side
    .chat-side__header
      .chat-side__header__group
        .chat-side__header__group__name
          = @group.name
        .chat-side__header__group__member
          Member :
          .chat-side__header__group__member-user
            = @group.users.name

      .chat-side__header__edit__box
        .chat-side__header__edit__box-btn
          Edit

    .chat-side__body

      = render @messages
      
    .chat-side__form
      = form_for [@group, @message] do |f|
        .chat-side__form__message
          .chat-side__form__message__input
            = f.text_field :content, class: 'message-text', placeholder: 'type a message' 
            .chat-side__form__message__image
              = f.label :image, class: 'image-icon' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            
          .chat-side__form__message__send
            = f.submit 'Send', class: 'send-btn'


